<footer class="pageFooter">
	<div class="pagetop">
		<a href="#" class="scroll-anchor"><span class="hide-text">PAGETOP</span></a>
	</div>
	<div class="pageFooter__inner">
		<div class="pageFooter__sns">
			<ul class="pageFooter__snsList">
				<li class="item"><a href=""><i class="icon-facebook"></i></a></li>
				<li class="item"><a href=""><i class="icon-twitter"></i></a></li>
				<li class="item"><a href=""><i class="icon-googleplus"></i></a></li>
			</ul>
		</div>
		<div class="pageFooter__logo">
			<a href="" target="_blank"><img src="images/logo.png" alt="logo"></a>
		</div>
		<div class="pageFooter__copy">&copy;2017 Solflare Inc. All rights reserved.</div>
	</div>
</footer>