<header class="pageHeader">
	<div class="pageHeader__inner">
		<div class="pageHeader__logo">
			<a href="/" target="_blank"><img src="images/logo.png" alt="logo"></a>
		</div>
		<div class="pageHeader__sns">
			<ul class="pageHeader__snsList">
				<li class="item"><a href=""><i class="icon-facebook"></i></a></li>
				<li class="item"><a href=""><i class="icon-twitter"></i></a></li>
				<li class="item"><a href=""><i class="icon-googleplus"></i></a></li>
			</ul>
		</div>
	</div>
</header>