<!DOCTYPE html>
<html lang="ja" xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge' /><![endif]-->
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta property="og:title" content="">
<meta property="og:type" content="article">
<meta property="og:image" content="images/ogimage.jpg">
<meta property="og:url" content="">
<meta property="og:description" content="">
<meta property="fb:app_id" content="">
<meta property="og:site_name" content="">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="">
<meta name="description" content="">
<meta name="keywords" content="" />
<title>toppage | html5-starter</title>
<% include common/_css %>
</head>
<body>
<div class="outline">

	<% include common/_header %>

	<% include common/_hero %>

	<main class="container">
		<div class="container__inner">

		</div>
	<!-- .container --></main>

	<% include common/_footer %>

<!-- .outline --></div>
<% include common/_script_bottom %>
<script>
$(function(){
	//
});
</script>
</body>
</html>